$colors: (
  nav-primary: #5f30ff,
  nav-secondary: #ed239f,
  nav-ter: #1345e6,
  skill-first: #801456,
  skills-second: #262e46,
  link-icon: teal,
  dark-black: #141c3a,
  pulse-button: rgba(232, 76, 61, 0),
);
