<body>
    <div id="contact">
        <section class="contactinfo text-center">
            <div class="grid-container extra-info">
                <div class="grid-x">
                    <div class="cell medium-4 m-auto">
                        <h3 class="title">Start a project</h3>
                    </div>
                    <div class="cell medium-4 m-auto">
                        <h6>Interested in working together? We should queue up a chat. I'll buy a the coffee </h6>
                    </div>
                    <div class="cell medium-4 m-auto">
                        <a class="start" href="mailto:aninamahat93@gmail.com">Let's Start</a>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <footer class="footer text-center">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <img class="anina-image" src="{{root}}assets/img/myimage.jpg" width="200px">
                </div>
                <div class="cell">
                    <h5>Living, learning, & leveling up one day at a time.</h5>
                </div>
                <div class="cell mysocial-links">
                    <a href="https://github.com/anin0543"><span><i class="fab fa-github"></i></span></a>
                    <a href="https://www.linkedin.com/in/anina-mahat-48814a161/"><span><i
                                class="fab fa-linkedin"></i></span></a>
                    <a href="https://www.facebook.com/profile.php?id=100008435895727"> <span><i
                                class="fab fa-facebook-f"></i></span></a>
                </div>
                <div class="cell mt-5">
                    <button class="view-cv " data-open="myModal3">View My CV</a>
                </div>
            </div>
        </div>
    </footer>

    <div class="tiny reveal" id="myModal3" data-reveal data-overlay="false">
        <div>
            <h3 class="modal-title h4">CV</h3>

            <a href="{{root}}assets/img/AninaResume2.pdf" download="AninaCV" class="download"><span><i
                        data-toggle="tooltip" title="Download" class="fas fa-download"></i></span></a>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <!-- <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip" title="Close"><span
                    aria-hidden="true">×</span><span class="sr-only">Close</span></button> -->
        </div>
        <div class="text-center"><img src="{{root}}assets/img/cvfinalpic.JPG" alt="Image for cv" class="sajha-image">
        </div>

    </div>
</body>