<body>
    <div id="home-section">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell medium-8">
                    <h2 id="intro">Hello</h2>
                    <h2>I am Anina Mahat and I am a </h2>
                    <p class="animationclass"><span class="text-slider-items">Web Developer,Web Designer,
                            Frontend Developer, Backend Developer</span><strong class="text-slider"></strong></p>
                    <p>Currently, I am doing my Bachelor's Degree in Computer Science at the Zealand Institute of
                        Business and Technology. Learning new Skills and Technologies has always been my great
                        passion.
                        Coming from a science background though it was challenging to adapt to the IT sector, strong
                        dedication and hard work has helped me to prove myself as a capable girl in Web-Development.
                        <br><br><strong>Interested in doing a project together? </strong>
                    </p><br>
                    <a class="hireme" href="mailto:aninamahat93@gmail.com">HIRE ME</a>
                </div>
                <div class="cell medium-4">
                    <img class="homepage-image" src="{{root}}assets/img/simple.png">
                </div>
            </div>
        </div>
    </div>
</body>