<body>
    <div id="skills-section">
        <section class="intro text-center">
            <div class="is-dark-background">
                <div class="grid-container">
                    <p class="subtitle">I am a Web developer able to build a Web presence from the ground up - from
                        concept, navigation, layout, and programming to UX. Skilled at writing well-designed, testable
                        and efficient code using current best practices in Web development. Fast learner, hard worker
                        and team player who is proficient in an array of scripting languages and multimedia Web tools.
                    </p>
                </div>
            </div>
        </section>
        <div class="grid-container">
            <section class="skills text-center">
                <div class="card">
                    <div class="grid-x">
                        <div class="cell large-4 small-12 skills-col">
                            <figure><i class="fa fa-edit" id="skills-icon"></i></figure>
                            <h1 class="title">UI/UX Designer</h1>
                            <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
                            <p class="list-title">Things I enjoy designing:</p>
                            <p>UX, UI, Web, Mobile, Apps, Logos</p>
                            <p class="list-title">Design Tools:</p>
                            <ul>
                                <li>Figma</li>
                                <li>Invision</li>
                                <li>Sketch</li>
                                <li>Webflow</li>
                                <li>Marvel</li>
                            </ul>
                        </div>
                        <div class="cell large-4 small-12 skills-col">
                            <figure><i class="fa fa-book-open" id="skills-icon"></i></figure>
                            <h1 class="title">Frontend Developer</h1>
                            <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.
                            </p>
                            <p class="list-title">Languages I speak:</p>
                            <p>HTML, CSS, JavaScript, React, Angular</p>
                            <p class="list-title">Dev Tools:</p>
                            <ul>
                                <li>Android Studio</li>
                                <li>Bootstrap</li>
                                <li>Codepen</li>
                                <li>Github</li>
                                <li>Chrome DevTools</li>
                            </ul>
                        </div>
                        <div class="cell large-4 small-12 skills-col " id="skill">
                            <figure><i class="fa fa-laptop-code" id="skills-icon"></i></figure>
                            <h1 class="title">Backend Developer</h1>
                            <p>I love giving structure to an idea, and add logic to make the web app.</p>
                            <p class="list-title">Languages I speak:</p>
                            <p>C#, ASP.NET, Node.js, Mysql </p>
                            <p class="list-title">Dev Tools:</p>
                            <ul>
                                <li>Visual Studio</li>
                                <li>VS Code</li>
                                <li>Mysql Workbench</li>
                                <li>Git</li>
                                <li>Terminal</li>
                                <li>ASP.NET </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>